$main-color:#FFF;
$main-color1:#000;
$main-color2:#ffcc33;
$main-color3:#000099;
$main-color4:#000033;
$main-color5:#34363d;
$main-color6:#11141b;

body{
    font-family: 'tabFont';
       background: #323232;
}
.row{
    .col{
        float: right;
    }
}